.main-content {
    margin: auto;
    width: 75%;
    height: 50%;
    margin-top: 5px;
    color: #2a4551;
    font-family: 'Fira Sans', sans-serif;
}

.main-content img {
    width: 100%;
}
section {
    text-align: center;
    
}
.news-content {
    margin-top: -5%;
    border: 5px solid red;
}