<h1>All Games</h1>
<div class="catalog-container">
    <section *ngIf="games">
        <div class="all-games-div">
            <ng-container *ngFor="let game of games">
                <div class="game-div">
                    <h2>{{game.title}}</h2>
                    <img src={{game.imageUrl}} alt="Game picture" width="150px" height="200px">
                    <div class="description">
                        {{game.description}}
                    </div>
                    <div>
                        <button [routerLink]="['/games', game._id]" class="btn-details">Details</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </section>
    <p class="noGames" *ngIf="!games">No Games Added Yet!</p>
</div>