<h1>All Games</h1>
<div class="catalog-container">
    <section *ngIf="games">
        <div class="all-games-div">
            <ng-container *ngFor="let game of games">
                <div class="game-div">
                    <img src={{game.imageUrl}} alt="Game picture" width="150px" height="200px">
                    <div class="description">
                        {{game.description}}
                    </div>
                    <div>
                        <button class="btn-details">Details</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </section>
    <p class="noGames" *!ngIf="games">No Games Added Yet!</p>
</div>