.catalog-container {
    display: flex;
    color: #9b9b9b;
    width: 80%;
    height: 1000px;
    margin: auto;
    background-color: #0f0f0f;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: 'Fira Sans', sans-serif;

}

.all-games-div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.game-div {
    flex: 0 0 33.333333%;
    padding-top: 30px;
}

.description {
    margin: auto;
    display: block;
    width: 35%;
    padding-top: 10px;
}

.btn-details {
    cursor: pointer;
    width: 200px;
    height: 35px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #1c1c1c;
    color: #9b9b9b;
    font-size: 17px;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    color: #996019;
    font-size: 70px;
    margin-left: 40%;
    margin-right: auto;
}

.noGames {
    font-family: 'Fira Sans', sans-serif;
    color: #996019;
    font-size: 70px;
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}