<section class="create-container">
    <form #form="ngForm" (ngSubmit)="createGame(form)" class="create-form">
        <h1>Create Game</h1>
        <p>Join the creators.</p>

        <label for="gameName"></label>
        <input type="text" id="title" placeholder="World of Warcraft" name="title" #title="ngModel" ngModel>

        <label for="genre"></label>
        <input type="text" id="genre" placeholder="MMORPG" name="genre" #genre="ngModel" ngModel>

        <label for="price"></label>
        <input type="number" id="price" placeholder="$5" name="price" #price="ngModel" ngModel>

        <label for="genre"></label>
        <input type="text" id="imageUrl" placeholder="https://..." name="imageUrl" #imageUrl="ngModel" ngModel>

        <label for="gameDescription"></label>
        <textarea id="gameDescription"
            placeholder="World of Warcraft (WoW) is a massively multiplayer online role-playing game (MMORPG) released in 2004 by Blizzard Entertainment."
            name="description" cols="30" rows="10" #description="ngModel" ngModel></textarea>

        <div>
            <button class="btn-create">Create game</button>
        </div>

    </form>
</section>
