<section class="register-container">
    <form #form="ngForm" (ngSubmit)="registerHandler(form.value)" class="register-form">
        <h1>Register</h1>
        <p>Join us and find the best game for you.</p>

        <label for="username"></label>
        <input type="text" id="username" placeholder="Username" name="username" ngModel>

        <label for="email"></label>
        <input type="text" id="email" placeholder="Email@abv.bg" name="email" ngModel>

        <label for="password"></label>
        <input type="password" id="password" placeholder="Password" name="password" ngModel>

        <label for="repeat-password"></label>
        <input type="password" id="repeat-password" placeholder="Repeat Password" name="rePassword" ngModel>

        <div>
            <button class="btn-register">Create an account</button>
        </div>

        <div>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </form>
</section>