<section class="login-container">
    <form #form="ngForm" (ngSubmit)="loginHandler(form)" class="login-form">
        <h1>Login</h1>

        <label for="username"></label>
        <input #usernameInput="ngModel" type="text" id="username" placeholder="Username" ngModel required name="username">

        <label for="password"></label>
        <input ngModel #passwordInput="ngModel" type="password" id="password" placeholder="Password" ngModel name="password">

        <div>
            <button class="btn-login">Login</button>
        </div>

        <div>
            <p>Don't have an account yet? <a href="/auth/register">Register</a></p>
        </div>
    </form>
</section>