<section class="login-container">
    <form #form="ngForm" (ngSubmit)="loginHandler(form.value)" class="login-form">
        <h1>Login</h1>

        <label for="username"></label>
        <input type="text" id="username" placeholder="Username" name="username" ngModel>

        <label for="password"></label>
        <input type="password" id="password" placeholder="Password" name="password" ngModel>

        <div>
            <button class="btn-login">Login</button>
        </div>

        <div>
            <p>Don't have an account yet? <a href="/register">Register</a></p>
        </div>
    </form>
</section>