.details-container {
    display: flex;
    color: #9b9b9b;
    width: 70%;
    height: 850px;
    margin: auto;
    margin-top: 70px;
    background-color: #0f0f0f;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: 'Fira Sans', sans-serif;
}

.game-image {
    margin-left: 100px;
    margin-top: 90px;
}

.game-section {
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: 10%;
}

h1 {
    color: #996019;
    font-size: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: #996019;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.game-description {
    color: #996019;
    font-size: 20px;
    display: block;
    margin-right: auto;
    width: 80%;
    height: 460px;
    overflow: hidden;
    overflow-y: scroll;
}

.game-price {
    color: #996019;
    font-size: 20px;
    display: block;
    margin-right: auto;
}

.game-description::-webkit-scrollbar {
    width: 100px;
}

.buttons {
    position: absolute;
    margin-left: 37%;
    margin-top: 35%;
}

.btn-edit {
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-right: 10px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #1c1c1c;
    color: #9b9b9b;
    font-size: 17px;
}

.btn-delete {
    cursor: pointer;
    width: 100px;
    height: 35px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #1c1c1c;
    color: #9b9b9b;
    font-size: 17px;
}

.btn-wish {
    cursor: pointer;
    width: 100px;
    height: 35px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #1c1c1c;
    color: #9b9b9b;
    font-size: 17px;
}

.wished-game {
    color: #996019;
    font-size: 20px;
    display: block;
    margin-right: auto;
}

/* EDIT */

.edit-container {
    color: #9b9b9b;
    width: 360px;
    height: 700px;
    margin: auto;
    margin-top: 4%;
    background-color: #0f0f0f;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: 'Fira Sans', sans-serif;

}

.edit-container h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    margin-left: 15px;
}

.edit-container form {
    width: 300px;
    margin-left: 20px;

}

.edit-container form label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}

.edit-container form input {
    color: white;
    width: 320px;
    height: 30px;
    margin-left: -8px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #060606;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
}

.edit-container form textarea {
    color: white;
    width: 320px;
    height: 130px;
    margin-left: -8px;
    padding-left: 10px;
    padding-top: 5px;
    background-color: #060606;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    resize: none;
}

.edit-container p {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 15px;
}

.edit-container p>a {
    color: #9b9b9b;
}

.btn-create {
    cursor: pointer;
    width: 200px;
    height: 35px;
    margin-top: 30px;
    margin-left: 60px;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #1c1c1c;
    color: #9b9b9b;
    font-size: 17px;

}