<div class="details-container">
    <div class="game-image">
        <img src={{game?.imageUrl}} alt="no-img" width="400px" height="600px">
    </div>

    <section class="game-section">
        <h1>{{game?.title}}</h1>
        <h3>{{game?.genre}}</h3>
        <div class="game-description">{{game?.description}}</div>
    </section>

    <div class="buttons">
        <button class="btn-edit">Edit</button>
        <button class="btn-delete" (click)="deleteGame()">Delete</button>
    </div>
</div>
