<ng-container *ngIf="!inEditMode">
    <div class="details-container">
        <div class="game-image">
            <img src={{game?.imageUrl}} alt="no-img" width="400px" height="600px">
        </div>

        <section class="game-section">
            <h1>{{game?.title}}</h1>
            <h3>{{game?.genre}}</h3>
            <div class="game-description">{{game?.description}}</div>
            <div class="game-price">Price: ${{game?.price}}</div>
        </section>

        <div class="buttons" *ngIf="!isAuthor && !isWished && isLogged">
            <button class="btn-wish" (click)="wishGame()">Wish</button>
        </div>

        <div class="wished-game buttons" *ngIf="!isAuthor && isWished && isLogged">
            <p>You have already wished this game!</p>
        </div>

        <div class="buttons" *ngIf="isAuthor && isLogged">
            <button class="btn-edit" (click)="inEditMode = true">Edit</button>
            <button class="btn-delete" (click)="deleteGame()">Delete</button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="inEditMode">
    <section class="edit-container">
        <form #form="ngForm" (ngSubmit)="editGame(form)" class="edit-form">
            <h1>Edit Game</h1>

            <label for="gameName"></label>
            <input type="text" id="title" name="title" #title="ngModel" ngModel="{{game?.title}}">

            <label for="genre"></label>
            <input type="text" id="genre" name="genre" #genre="ngModel" ngModel="{{game?.genre}}">

            <label for="price"></label>
            <input type="number" id="price" name="price" #price="ngModel" ngModel="{{game?.price}}">

            <label for="genre"></label>
            <input type="text" id="imageUrl" name="imageUrl" #title="ngModel" ngModel="{{game?.imageUrl}}">

            <label for="gameDescription"></label>
            <textarea id="gameDescription" name="description" cols="30" rows="10"
                #description="ngModel" ngModel="{{game?.description}}"></textarea>

            <div>
                <button class="btn-create">Update Game</button>
            </div>

        </form>
    </section>

</ng-container>