nav {
    position: center;
    width: fit-content;
    margin-top: 5%;
    margin-left: 23%;
    display: block;
    border: 5px solid #1c120a;
    background-color: #21160c;
}

ul {
    list-style-type: none;
    display: flex;
    
}

ul li {
    font-size: 20px;
    padding-right: 75px;
    margin-left: 30px;

}

ul li a {
    margin-right: 5%;
    color: #996019;
    text-decoration: none;
}