<div class="main-content">
    <img src="../../../assets/img/Revendreth01_1920x1080.jpg" alt="justWoWPic">
    <section>
        <div class="news-content">
            Lates News
            <div class="news">
                <h4>First new</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, labore doloremque eum placeat dignissimos sequi dicta consectetur, ipsa commodi ut voluptas officiis tenetur eius expedita qui quasi quod excepturi?</p>
            </div>
            <div class="news">
                <h4>Second new</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, labore doloremque eum placeat dignissimos sequi dicta consectetur, ipsa commodi ut voluptas officiis tenetur eius expedita qui quasi quod excepturi?</p>
            </div>
            <div class="news">
                <h4>Third new</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, labore doloremque eum placeat dignissimos sequi dicta consectetur, ipsa commodi ut voluptas officiis tenetur eius expedita qui quasi quod excepturi?</p>
            </div>
            <div class="news">
                <h4>Fourth new</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, labore doloremque eum placeat dignissimos sequi dicta consectetur, ipsa commodi ut voluptas officiis tenetur eius expedita qui quasi quod excepturi?</p>
            </div>
            <div class="news">
                <h4>Fifth new</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, labore doloremque eum placeat dignissimos sequi dicta consectetur, ipsa commodi ut voluptas officiis tenetur eius expedita qui quasi quod excepturi?</p>
            </div>
        </div>
    </section>
</div>