<div class="profile-container">
    <div class="profile-img">
        <img src="../../../assets/img/images.png" alt="Profile picture" width="200px" height="200px">
    </div>
    <div class="username">
        <h2>Username: {{user?.username}}</h2>
    </div>
    <div class="email">
        <h3>Email: {{user?.email}}</h3>
    </div>
    <div class="fullName">
        Full Name: {{user?.fullName}}
    </div>
    <div class="userInfo">
        <h4>User information:</h4>
        <p class="information">{{user?.userInfo}}</p>
    </div>
    <div class="buttons">
        <button class="btn-edit" (click)="editUserProfile()">Edit</button>
    </div>
</div>