<div class="profile-container">
    <div class="profile-img">
        <img src="../../../assets/img/images.png" alt="Profile picture" width="200px" height="200px">
    </div>
    <div class="username">
        {{user?.username}}
    </div>
    <div class="sections-rows">
        <div class="column created">
            <h3>Crated Games</h3>
            <div>
                
            </div>
        </div>
        <div class="column ordered">
            <h3>Ordered Games</h3>
            <div class="ordered-games">
                dsa
            </div>
        </div>
    </div>
</div>